<header class="d-flex align-items-center header">
  <button
    type="button"
    class="btn shadow-none header__toggle-menu"
    (click)="toggle()"
  >
    <!-- <ng-container *ngIf="isVisible$ | async as visible; else sideNavHidden"> -->
    <ng-container *ngIf="sidenavVisible; else sideNavHidden">
      <fa-icon [icon]="iconArrowLeft"></fa-icon>
    </ng-container>
    <ng-template #sideNavHidden>
      <fa-icon [icon]="iconArrowRight"></fa-icon>
    </ng-template>
  </button>
  <span class="header__text">Menu</span>
  <button
    class="btn btn-sm btn-primary header__add-note-btn"
    data-toggle="modal"
    (click)="openModal()"
  >
    <fa-icon [icon]="iconPlus"></fa-icon>
    new note
  </button>
</header>
