<header class="d-flex align-items-center header">
  <button
    type="button"
    class="btn shadow-none header__toggle-menu"
    (click)="toggleSidenav()"
  >
    <ng-container *ngIf="isVisible$ | async as visible; else sideNavHidden">
      <fa-icon [icon]="logoArrowLeft"></fa-icon>
    </ng-container>
    <ng-template #sideNavHidden>
      <fa-icon [icon]="logoArrowRight"></fa-icon>
    </ng-template>
  </button>
  <span class="header__text">Menu</span>
  <button class="btn btn-sm btn-primary header__add-note-btn">
    <fa-icon [icon]="iconPlus"></fa-icon>
    new note
  </button>
</header>
