.header__toggle-menu {
  align-self: start;
  padding: 0.2rem 0.4rem;
  border-radius: 0;
  margin-right: 3px;

  &:hover,
  &:active {
    background: var(--light-theme-accent-light);
  }
}

.header__text {
  text-transform: uppercase;
  font-weight: bold;
}
