<div class="notes-list">
  <ul>
    <!-- Set default active class to the first item, if there's not selected note yet -->
    <li
      *ngFor="let note of notes; let i = index"
      [ngClass]="{
        active: selectedNoteId ? note.id === selectedNoteId : i === 0
      }"
      (click)="select(note.id)"
      class="d-flex justify-content-between"
      role="button"
    >
      {{ note.title }}
      <span class="favorite" *ngIf="note.favorite">
        <fa-icon [icon]="favoriteIcon"></fa-icon>
      </span>
    </li>
  </ul>
</div>
