.sidenav-menus {
  ul {
    li {
      font-size: 1rem;
      color: var(--light-theme-primary);
      padding: 0.5rem 2.5rem 0.5rem 0.5rem;
      cursor: pointer;
      text-align: center;
      font-weight: bold;

      // since not all icons have the same dimensions,
      // we wrapped them inside a span and add uniform width and height for easier alignment
      span.icon {
        margin-right: 10px;
        width: 24px;
        height: 24px;
      }

      &.active {
        background: var(--dark);
        span.icon {
          color: var(--blue);
        }
      }
    }
  }
}
