.sidenav {
  min-height: 100vh;
  max-width: 20rem;
  border-right: 1px solid var(--light-theme-secondary);
}

.sidenav__menu-section {
  background: var(--light-theme-accent);
}

.sidenav__content-section {
  background: var(--light-theme-secondary);
  min-width: 12rem;
}
