<div class="sidenav d-flex">
  <section class="sidenav__menu-section flex-grow-0">
    <app-user-display
      [user]="user$ | async"
      (logout)="logout()"
    ></app-user-display>
    <app-sidenav-menus
      [menus]="menuIcons"
      [selectedMenu]="selectedMenu$ | async"
      [expandIcons]="expandIcons$ | async"
      (selectMenu)="setSelectedMenu($event)"
    ></app-sidenav-menus>
  </section>
  <section class="sidenav__content-section flex-grow-1">
    <app-sidenav-search (filter)="setFilter($event)"></app-sidenav-search>
    <ngx-simplebar [options]="scrollbarOptions">
      <app-notes-list
        [notes]="notes$ | async"
        [selectedNoteId]="selectedNoteId$ | async"
        (selectNote)="setSelectedNote($event)"
      ></app-notes-list>
    </ngx-simplebar>
  </section>
</div>
