<div class="sidenav d-flex">
  <section class="sidenav__menu-section flex-grow-0">
    <app-sidenav-menus
      [menus]="menuIcons"
      [selectedMenu]="selectedMenu$ | async"
      (selectMenu)="setSelectedMenu($event)"
    ></app-sidenav-menus>
  </section>
  <section class="sidenav__content-section flex-grow-1">
    <app-sidenav-search (filter)="setFilter($event)"></app-sidenav-search>
    <app-notes-list
      [notes]="notes$ | async"
      [selectedNoteId]="selectedNoteId$ | async"
      (selectNote)="setSelectedNote($event)"
    ></app-notes-list>
  </section>
</div>
