<div class="container">
  <div class="row">
    <div class="col">
      <div class="current-note mt-4">
        <div
          class="current-note__button-icons d-flex justify-content-end"
          *ngIf="selectedMenu !== menus.Shared"
        >
          <fa-icon
            [icon]="editLogo"
            tooltip="Edit"
            (click)="editNote()"
          ></fa-icon>
          <fa-icon
            [icon]="shareLogo"
            tooltip="Share"
            (click)="shareNote()"
          ></fa-icon>
          <fa-icon
            [icon]="deleteLogo"
            tooltip="Delete"
            (click)="deleteNote()"
          ></fa-icon>
        </div>

        <div class="d-flex flex-column">
          <div class="current-note__body">
            <h2>{{ note.title }}</h2>
            <div class="current-note__schedule text-muted">
              Schedule: {{ note.schedule | date }}
            </div>
            <div class="current-note__tags" *ngIf="note.tags">
              <span
                class="badge badge-primary mr-2"
                *ngFor="let tag of note.tags"
              >
                {{ tag.name }}
              </span>
            </div>

            <div
              class="current-note__content mt-4"
              [innerHtml]="note.content"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
